/////////////////////Universal Markup///////////////////////////////////////////////////////

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Variables
$primary-color: #161b21;
$secondary-color: #f4a950;
$secondary-color-hover: #eec491;

// Twins Colors
$twins-primary: #002B5C;
$twins-secondary: #D31145;
$twins-terciary: #B9975B;

// Other Universal Markup
a {
    text-decoration: none;
    color: inherit;
}

/////////////////About Page////////////////////////////////////////////////////////////////////

#main-about {
    background-color: $primary-color;
    font-size: 1.2rem;

    header {
        margin-top: 60px;
    }

    .section {
        margin-top: 40px;

        h4 {
            margin-bottom: 10px;
        }
    }
}

//////////////////Sport Selection Pages////////////////////////////////////////////////////////

body {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: Roboto, sans-serif;
}

.container {
    margin: 0 15%;
}

.navbar {
    margin-top: 30px;

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-selection {
            display: flex;
            justify-content: space-between;
            width: 40%;

            a:hover {
                color: $secondary-color-hover;
            }
        }
    }
    
}

.header {
    text-align: center;
    margin: 0 auto;
    
    h2 {
        margin-top: 10vh;
        font-size: 3rem;
    }

    h4 {
        margin-top: 2vh;
        font-size: 1.8rem;
    }
}

// Sport Selection Flexbox
.sport-selection-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    font-size: 2.2rem;
    text-align: center;

    .sport {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border: 4px solid $secondary-color;
        padding: 10%;
        width: 250px;
        height: 300px;
        cursor: pointer;

        &:hover{
            background-color: $secondary-color;
            color: $primary-color;
        }

        p {
            margin-bottom: 30px;
        }

        i {
            font-size: 3.5rem;
        }
    }
}

///////////////////MLB Map Page////////////////////////////////////////////////////
.section-main {
    .container {
        .section-map-selection {
            h2 {
                text-align: center;
                margin: 5vh auto 0;
                font-size: 2.4rem;
            }

            .map {
                margin: 5vh auto 0;
            }
        }
    }
}

//////////////////Universal Stats & Header Page////////////////////////////////////////
.team-header {
    text-align: center;
    margin: 30px auto;
}

.position-header {
    text-align: center;
    margin: 50px auto 20px;
}

.player-row {
    cursor: pointer;

    &:hover {
        background-color: rgba($twins-terciary, $alpha: 0.9);
    }
}

.player-era {
    font-weight: bold !important;
}

///////////////////Modal Styling///////////////////////////////////////////////
.modal-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-information {
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    background-color: #fff;
    width: 50%;
    height: 60vh;
    text-align: center;
    margin: 5% auto 0;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    height: 100%;
    color: #333;

    .modal-header-container {
        grid-column: 1 / 3;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content-container{
        grid-column: 1 / 3;
        grid-row: 2;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        .modal-table-left {
            grid-column: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            table {
                td {
                    padding: 1%;
                }
            }
        }

        .modal-table-right {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;

            table {
                td {
                    padding: 1%;
                }
            }
        }
    }

    .modal-link-container {
        grid-column: 1 / 3;
        margin-top: 40px;
    }
}

///////////////////Twins Player Page////////////////////////////////////////////
#body-twins {
    background-color: $twins-primary;
    position: relative;
}

#navbar-twins {
    background-color: $twins-primary;
}

.player-table-twins {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    
    th, tr {
        border: 2px solid $twins-secondary;
        padding: 30px;
        text-align: center;
        color: $twins-secondary;
    }

    td {
        padding: 10px 0;
        color: #333;
    }
}